* {
    box-sizing: border-box;
}

.banner{
    display: flex;
    padding: 15px;

}

ul.bannerList {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;

}

li.bannerIcon {
    float: left;
    height: 50px;
    width: 50px;

}

.appleLogo{
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

li.banner2 {
    float: right;
    border-right: none;
    
}
  
li.banner1 {
    float: left;
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 20px;
}
  
li a:hover:not(.active) {
    color: green;
}

.active {
    color: green;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 0px 10px;
    padding-top: 30px;
}

.parent > .item{
	width: 400px;
    height: 400px;
    background:white;
   	margin-bottom:10px;

}


body {
    background-color: white;
}

.image-file {
    height: 100%;
    width: 100%;
}

#image1 img{
    width: 100%;
    background-color: white;
}

#image2 img {
    width: 40%;
}


.image-container2 {
    height: auto;
    width: 100%;

}

.main-column {
    grid-template-columns: auto auto;
    grid-row-start: auto;
    
}

ul.specs{
    float: left;
    padding: 15px;
    list-style: circle;
    list-style-position: inside;
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: large;
}

ul.image-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

li.image-elem {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Specs-details{
    font-size: large;
}



@media only screen and (max-width: 600px) {
   

    
    .main-column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* this is so that the image is center when the screen is too small */
    .column-left{
        width: 50%;
        float: left;
        background-color: white;
    }

    #image1 {
        padding-top: 0%;
       
        
    }
    
    .image-container {
        object-fit: cover;
    

    }

    #image1 img{
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #image2 img{
        width: 40%;
    }
    
  

    
}