* {
    box-sizing: border-box;
}

.banner{
    display: flex;
    padding: 15px;

}
ul.bannerList {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;

}

li.bannerIcon {
    float: left;
    height: 50px;
    width: 50px;

}

.appleLogo{
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

li.banner2 {
    float: right;
    border-right: none;
    
}
  
li.banner1 {
    float: left;
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 20px;
}
  
li a:hover:not(.active) {
    color: green;
}
  
.active {
    color: green;
}

body {
    background-color: whitesmoke;
}

#image1 {
    height: 100%;
    width: 100%;
}

#image1 img{
    width: 100%;
}

.main-column {
    grid-template-columns: auto auto;
    grid-row-start: auto;
    
}

ul.specs{
    float: left;
    padding: 15px;
    list-style: circle;
    list-style-position: inside;
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: large;
}

.Specs-details{
    font-size: large;
}
.column-left{
    width: 50%;
    float: left;
    padding: 15px;
}
.column-right{
    width: 50%;
    float: left;
    padding: 15px;
    padding-top: 7%;
}

@media only screen and (max-width: 600px) {
   

    
    .main-column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* this is so that the image is center when the screen is too small */
    .column-left{
        width: 50%;
        float: left;
        
    }

    #image1 {
        padding-top: 40%;
        background-color: whitesmoke;
       
    }
    
    #image1 img{
        width: 100%;
        
    }

    
}